@import '@picocss/pico/css/pico.classless.indigo.min.css';

:root {
  --spacing-0: 0.75rem;
  --spacing-1: 1rem;
  --spacing-2: 1.25rem;
  --spacing-3: 1.5rem;
  --spacing-4: 1.75rem;
  --spacing-5: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-inline: var(--spacing-4);
}
